@import url('https://fonts.googleapis.com/css?family=Roboto');

$transparent: rgba(0,0,0,0);

$tb-prefix: wf__toolbar;
$tb__background: linear-gradient(#555, #222);
$tb__font-stack: 'Roboto', sans-serif;
$tb__font-size: 1em;
$tb__primary-color: #fff;
$tb__padding: 0.25em 0.25rem;
$tb__border-radius: 0.25em;
$tb__box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0,0,0,0.55);
